{{!< default}}

{{#post}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        <article class="gh-article {{post_class}}">
            {{#match @page.show_title_and_feature_image}}
                <header class="gh-article-header gh-canvas">
                    <h1 class="gh-article-title">{{title}}</h1>
                    <img class="gh-page-star" src="{{asset "images/four-dots.svg"}}" alt="">
                    {{> "feature-image"}}
                </header>
            {{/match}}

            <section class="gh-content gh-canvas">
                {{content}}
                <img class="gh-content-star" src="{{asset "images/little-star.svg"}}" alt="">
            </section>
        </article>

        {{#has tag=@custom.special_guests_tag}}
            {{#get "posts" filter="tag:project-notes+tag:{{slug}}" limit="all" order="published_at desc"}}
                {{#if posts}}
                    <aside class="gh-related-posts">
                        <h2 class="gh-related-posts-title">Related Posts</h2>
                        <div class="gh-feed">
                            {{#foreach posts}}
                                {{> "loop"}}
                            {{/foreach}}
                        </div>
                    </aside>
                {{/if}}
            {{/get}}
        {{/has}}
    </div>
</main>

{{/post}}