{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#tag}}
            <article class="gh-article">
                <header class="gh-article-header">
                    <div class="gh-tag-banner">
                        <img class="gh-tag-bang" src="{{asset "images/bang.svg"}}" alt="">
                        <h1 class="gh-article-title">{{name}}</h1>
                    </div>
                </header>
            </article>
        {{/tag}}
        <div class="gh-project-list">
            {{#foreach posts}}
            <a class="gh-project-card" href="{{url}}">
                <h3 class="gh-project-card-title">{{title}}</h3>
                {{#if custom_excerpt}}
                    <p class="gh-project-card-excerpt">{{custom_excerpt}}</p>
                {{else if excerpt}}
                    <p class="gh-project-card-excerpt">{{excerpt}}</p>
                {{/if}}
                <time class="gh-project-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
            </a>
            {{/foreach}}
        </div>
    </div>
</main>